body{
    background: url(imagenes/clementine_military_paper2.jpg);
}
#padre{
    display: flex;
    justify-content: center;
    height: 35%;
    align-items: center;
}

#titulo{
    text-align: center;
    color: aliceblue;
    width: 50%;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
    border: 5px outset;
    background: rgba(20,90,50);
    display: flex;
    height: inherit; 
    padding: 0, 10%;  
    margin: left;
    font-family: 'Swanky and Moo Moo', cursive;

}

img{
    width: 35%;    
    height: inhereit;
    
}

#imagenes{
    width: 35%;
    margin: right;
    display: flex;
    height: inherit;
}

#imagen{
    width: 35%;
    margin: auto;
    display: flex;
    height: inherit;
}

.option-c{
    font-size: 30px;
    padding: 10px;
     background-color: #b7c5af;
    border: 4px solid #296d07;
    border-radius: 20px;
    color: #020700;
    font-weight: 500; 
    font-family: 'LettersLearners'; 
    align-self: center;
 }

.option-c:hover{
    color: #fffffd;
    background-color: #306416;
    border: solid #d3ea9f;
}

#option-d{
    font-size: 30px;
    padding: 10px;
    background-color: #b7c5af;
    border: 4px solid #296d07;
    border-radius: 20px;
    color: #020700;
    font-weight: 500; 
    font-family: 'LettersLearners'; 
    margin-left: auto;
    margin-right: auto;
}

#option-d:hover{
    color: #fffffd;
    background-color: #306416;
    border: solid #d3ea9f;
}

#opcion-codificar{
    visibility: hidden;
    border: 5px double;
    border-radius: 20px;    
    background: (106, 147, 15, 0.7);
}

#opcion-decodificar{
    visibility: hidden;
    border: 5px double;
    border-radius: 20px;    
    background: (106, 147, 15, 0.7);
}

#enviar{
    font-size: 30px;
    padding: 10px;
     background-color: #b7c5af;
    border: 4px solid #296d07;
    border-radius: 20px;
    color: #020700;
    font-weight: 500; 
    font-family: 'LettersLearners'; 
    align-self: center;
}

#salir{
    font-size: 30px;
    padding: 10px;
     background-color: #b7c5af;
    border: 4px solid #296d07;
    border-radius: 20px;
    color: #020700;
    font-weight: 500; 
    font-family: 'LettersLearners'; 
    align-self: center;
}
